@import "variables";
.div {
  .main {
    flex: 4;
    padding-bottom: 7rem;
    padding-left: 5rem;
    width: 100%;
    .wrapper {
      width: 95%;
      margin: auto;
      padding-top: 1rem;
      .topContent {
        display: flex;
        align-items: flex-start;
        margin-top: 1.4rem;
        .homeLogo {
          display: flex;
          align-items: center;
          span {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 600;
            color: $secondory;
            font-size: 22px;
            line-height: 33px;
          }
        }
      }

      table,
      th,
      td {
        font-size: 1.5rem;
      }

      table {
        margin-top: 2rem;
        width: 100%;
        background: #ffffff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 2rem;
        thead {
          th {
            border-right: 1px solid #c7c7c7;
            border-bottom: 1px solid #c7c7c7;
            font-family: "poppins";
            text-transform: capitalize;
            padding-top: 1rem;
            padding-bottom: 1rem;
            &:last-child {
              border-right: none;
            }
          }
        }
        tbody {
          tr {
            &:first-child {
              td {
                padding-top: 2.4rem;
              }
            }
            td {
              text-align: center;
              border-right: 1px solid #c7c7c7;
              padding-left: 0.8rem;
              padding-top: 0.8rem;
              font-family: "poppins";
              color: $secondory;
              svg{
                  fill: $secondory;
                  cursor: pointer;
                  transition: $smoothing;
                  &:hover{
                    fill: black;
                  }
              }
              &:last-child {
                border: none;
              }
            }
            &:last-child {
              td {
                padding-bottom: 8rem;
              }
            }
          }
        }
      }
    }
  }
}
